.intro {
  background-image: url(components/img/ultraman.jpg);
  height: 100dvh;
  background-size: cover;
  padding: 30px;
}

.intro-title {
  color: aliceblue;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin-top: 200px;
  font-size: 3rem;
}


.footer {
  padding: 10px;
  justify-content: center;
  margin: 0;
  background-color: rgb(33, 37, 41);
}

.footer p {
  text-align: center;
  color: white;
}

.footer p a {
  color: white;
  font-weight: bold;
}

.honk-intro {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}